<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            %navbar_buttons%


            <!--Notification bell-->

            <div class="dropdown">
                <a class="me-3" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                      </svg>
                    <span class="badge rounded-pill badge-notification bg-danger">100</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end notifications" role="menu" aria-labelledby="dLabel">

                    <div class="notification-heading">
                        <h4 class="menu-title">Clear all</h4>
                    </div>
                    <li class="divider"></li>
                    <div class="notifications-wrapper">
                        <a class="content" href="#">

                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>

                        </a>
                        <a class="content" href="#">
                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>

                        </a>
                        <a class="content" href="#">
                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>
                        </a>
                        <a class="content" href="#">
                            <div class="notification-item">
                                <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                                <p class="item-info">Marketing 101, Video Assignment</p>
                            </div>
                        </a>

                    </div>
                </ul>


            </div>




            %navbar_profile%
        </div>
    </div>
</nav>